fastapi
uvicorn[standard]
python-multipart
nltk
spacy
textstat==0.7.3
transformers
sentence-transformers
torch
pydantic
python-jose[cryptography]
sqlalchemy
python-dotenv
psycopg2-binary
passlib[bcrypt]
PyJWT
emoji
openai
google-auth
requests
